<img src="http://www.parkroadcarwash.com/custom/images/pages/Feedback/happy-car.png" alt="carwash" class="image-fluid center-block">

<h1 class="text-center">Welcome to the ItWorks! Carwash Signup Page</h1>
<div class="row row-centered">
  <div class="col-lg-8 col-centered">
    <p class="text-center">
      We are taking your carwashing experience to a Whole 'Notha Level with this page! 
      Use the calendar to see which days are available, and then select your time slot.
      Captain Ron will be here to get your car sparkling clean without going to the car wash!
    </p>
    <p class="text-center">
        <strong>Car Wash Includes</strong>: Exterior wash and Spray wax, wipe dry, rims and tires cleaned. 
        Interior vacuumed, dash board wiped and windows cleaned.
    </p>
    <p class="text-center">    
      Cars: $25.00
      Trucks: $30.00
    </p>
  </div>
</div>
<br>
<hr>
<br>
<div class="row row-centered">
  <div class="col-lg-8 col-centered">
    <button (click)="onNavigateToCalendar()" class="btn btn-primary form-control">Go To Calendar</button>
    <br>
    <br>
    <button (click)="onNavigateToSignup()" class="btn btn-primary form-control">Go To Signup</button>
  </div>
</div>


